*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: #333;
    min-height: 300px;
    min-width: 300px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Section */
.landing{
    position: relative;
    background-image: linear-gradient(-45deg, #00db58, #001b66);
    height: 100vh;
}

.landing-inner{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.landing-inner.flex {
    flex-direction: column;
}

/* Main title */
.landing h1{
    font-size: 3rem;
    margin-bottom: 1em;
}

.landing h2{
    font-size: 2.5rem;
}

/* Countdown */
.countdown{
    font-size: 3rem;
    margin: 2.5em auto;
    text-align: center;
}

.countdown.flex{
    flex-wrap: wrap;
}

.countdown .flex div.flex{
    flex-direction: column;
}

.countdown .flex div{
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    opacity: 0.9;
    background: black;
    width: 150px;
    height: 150px;
}

.countdown .flex:first-child div:first-child{
    background: #014e5a;
}

.countdown span{
    display: block;
    font-size: 25px;
}

/* Footer */
.footer{
    font-size: 1.8rem;
}

.footer a{
    text-decoration: none;
    color: rgb(235, 235, 235);
}

.footer a:hover{
    color: #fff;
}

/* Media Queries */
/* Screen width less than 650px */
@media screen and (max-width: 650px){
    .landing h1{
        font-size: 2.4rem;
    }

    .landing h2{
        font-size: 2rem;
    }

    .countdown{
        font-size: 2rem;
        margin: 1.6em auto;
    }

    .countdown .flex div{
        height: 130px;
        width: 130px;
        margin: 10px;
    }

    .footer{
        font-size: 1.4rem;
    }
}

/* Screen width less than 400px */
@media screen and (max-width: 400px){
    .landing h1{
        font-size: 1.8rem;
    }

    .landing h2{
        font-size: 1.4rem;
    }

    .footer{
        font-size: 1.2rem;
    }
}

/* Screen oriented in landscape and height less than 700px */
@media screen and (orientation: landscape) and (max-height: 700px){
    .landing h1{
        font-size: 2rem;
    }

    .landing h2{
        font-size: 1.8rem;
    }

    .countdown{
        margin: 1.2em auto;
        font-size: 1.6rem;
    }

    .countdown.flex{
        flex-direction: row;
    }

    .countdown .flex div{
        padding: 10px;
        width: 120px;
        height: 120px;
    }

    .footer{
        font-size: 1.2rem;
    }
}

/* Screen oriented in landscape and height less than 350px */
@media screen and (orientation: landscape) and (max-height: 350px){
    .landing h1{
        font-size: 1.6rem;
    }

    .landing h2{
        font-size: 1.4rem;
    }

    .countdown{
        margin: 1em auto;
        font-size: 1.4rem;
    }

    .footer{
        font-size: 1rem;
    }
}